fastapi
uvicorn[standard]
python-multipart
pandas
openpyxl
chardet
numpy
elasticsearch
stix2
sentence-transformers
transformers
tqdm
qdrant-client == 1.6.9
python-dotenv
pydantic
protobuf>=5.26.1,<6.0.0dev
langchain == 1.2.9
langchain-anthropic
langchain-openai 
langchain-google-genai 
langchain-groq 
langchain-ollama